/*=======================滚动图=======================*/
.carousel{
	padding: 0;
	margin: 0 auto;
}
.carousel-inner img{
	width: 100%;
}
@media (max-width: 992px){
	.navbar{margin-bottom: 0;}
	.carousel{width: 100%;}
}
@media (max-width: 768px){
	.carousel-caption{display: none;}
}
@media screen and (min-width: 768px){
	.carousel-indicators {bottom: -40px;}
	.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 0 115px;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
	}
}
.carousel-caption p{
	font-size: 1rem;
}
.carousel-indicators li{
	border-color: #bbb;
	background-color: #bbb;
}
.carousel-indicators .active{
	border-color: #7accc8;
	background-color: #7accc8;
}
.carousel-control span{
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: -15px;
}
.carousel-control span:last-child{
	margin-right: -15px;
}
.carousel-control i{
	font-size: 30px;
	color: #f0f0f0;
	padding-top: 0;
}
/*=======================content1=======================*/
.content{
	width: 100%;
	margin-top: 60px;
	padding: 30px 0;
	background-color: #f9f9f9;
}
.content .container{
	padding: 0;
}
.content .col-sm-8{
	padding-left: 0;
}
.content .title{
	width: 150px;
	height: 40px;
	background-image: url("../../img/title.png");
}
.popular .row,.rec .row{
	margin-bottom: 20px;
}
.popular .title{
	margin-left: 30px;
	background-position: 0 -195px;
}
.classes{
	padding-top: 20px;
	padding-right: 30px;
	font-size: 1.16667rem;
	color: #7e7e7e;
	float: right;
}
.classes>li{
	width: 34px;
	padding: 0 3px;
	text-align: center;
	float: left;
	list-style-type: none;
	cursor: pointer;
}
.classes>li:hover:after{
	content: " ";
	margin-top: 2px;
	width: 100%;
	height: 3px;
	display: block;
	background-color: #7accc8;
}
.classes .active:after{
	content: " ";
	margin-top: 2px;
	width: 100%;
	height: 3px;
	display: block;
	background-color: #7accc8;
}
.pop{
	margin-bottom: 20px;
}
.pop img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.pop .con{
	width: 86.1%;
	height: 45px;
	padding: 0 10px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
}
.pop .con h5{
	margin-bottom: 0;
}
.pop .con p{
	margin-bottom: 0;
	font-size: 1rem;
}
.more{
	float: right;
	color: #898989;
}
@media (max-width: 1199px){
	.pop .con{
		width: 83.16%;
	}
}
@media (max-width: 992px){
	.pop .con{
		width: 87.6%;
	}
}
@media (max-width: 768px){
	.content{
		margin-top: 20px;
	}
	.pop .con{
		width: 91.4%;
	}
}
/*Voice of Swufe*/
.voice .title{
	margin-bottom: 15px;
	background-position: -150px -195px;
}
.voice-img{
	width: 100%;
	text-align: center;
}
.voice-img img{
	width: 90%;
	height: 90%;
}
.voice h3, .voice h4{
	text-align: center;
}
.voice h3{
	color: #7accc8;
}
.voice h4{
	color: #797979;
	margin: 15px 0 20px;
}
.voice-thumbnail img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.voice-thumbnail img:hover{
	border: 2px solid #7accc8;
}
/*ad*/
.ad{
	margin: 30px 0;
}
.ad img{
	width: 100%;
	height: 100%;
}
/*recommendation*/
.rec .title{
	margin-left: 30px;
	background-position: -300px -195px;
}
/*news*/
.news>ul{
	width: 100%;
	padding: 20px 25px 0;
	margin-bottom: 0;
}
.news>ul>li{
	list-style-type: none;
	float: left;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background-color: #d4e6e5;
	padding: 4px 7px;
	font-size: 1.16667rem;
	cursor: pointer;
	margin-top: 11px;
}
.news .active{
	font-size: 1.5rem;
	background-color: #7accc8;
	padding: 7px 10px;
	margin-top: 0;
}
.news .con{
	width: 100%;
	border-radius: 3px;
	background-color: #f7fef6;
	border: 1px solid #f0f0f0;
	padding: 10px 15px;
}